{% extends "polling/index.html" %}
{% block createQuestion %}
    <h1 class="px-5 text-center">Create Question</h1>
   <div class="questionContainer">
    <form id="question-form" class="form" action="http://127.0.0.1:8000/createquestion/" method="post">{% csrf_token %}
      <div class="form-group">
        <label for="exampleFormControlInput1">Question</label>
        <input type="text" class="form-control" id="ques" name="ques" placeholder = "Write your Question" required>
        <br>
      </div>
      <div class="form-group">
        <label for="tag">Tag</label>
        <input type="text" class="form-control" id="tag" name="tag" placeholder="tag Default = 'All'" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="opt1" name="opt1" placeholder="Option 1" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="opt2" name="opt2" placeholder="Option 2" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="opt3" name="opt3" placeholder="Option 3" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="opt4" name="opt4" placeholder="Option 4" required>
      </div>
      <button type="submit" class="btn btn-primary">Create Question</button>
    </form>
   </div>
    <script >
      {% if LimitExceeded %}
        alert("You have already created created maximum Questions per user");
      {% endif %}
    </script>
{% endblock %}