<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Welcome to Home Page</title>
<!--    <style >-->
<!--         -->

<!--    </style>-->
<!--    <style>-->

<!--    </style>-->
    {% load static%}
    <link rel="stylesheet" href="{% static '/homepage.css' %}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
  <body>
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
          <a class="navbar-brand" href="/"><h4><b>Polling Website</b></h4></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active mx-3">
                <a class="nav-link" href="/profile/"><h4>User Profile</h4><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active mx-3">
                <a class="nav-link" href="/createquestion/"><h4>Create Question</h4><span class="sr-only">(current)</span></a>
              </li>
               <li class="nav-item active mx-3 ">
                <a class="nav-link" href="/logout/"><h4>Logout</h4><span class="sr-only">(current)</span></a>
              </li>
            </ul>
          </div>
    </nav>
    {% block userProfile %}{% endblock %}
    {% block homepage %}{% endblock %}
    {% block createQuestion %}{% endblock %}
  </body>
</html>